* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
  }
  
  body, html {
   
    font-family: Roboto, sans-serif;
    background-color: #eeecdb;
  }

  .container-login {
    width: 100%;    
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #eeecdb;
   
  }

  .wrap-login {
    width: 390px;
    

    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
   
  }

  .login-form {
    width: 100%;
    
  }
  
  .login-form-title {    
    display: block;
    font-size: 1.6rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #000;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 24px;
  }
  
  .login-form-title img {
    width: 17rem;
  }
  
  .login-form-subtittle{
      font-size: 1rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      font-family: Roboto, sans-serif;
      text-align: center;
  }

  .wrap-input {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 37px;
    position: relative;
    
  }

  .focus-input { 
    position: absolute;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    border:none;
    border-bottom: 1px solid #383743;  
    font-family: Roboto, sans-serif;
    background-color: #eeecdb;
  }

  .btn-login{
      width: 100%;
      background-color:#57bbbc !important;
      border-color: #57bbbc !important;
      
  }

  .header-top{
    width: 100%;
    height: 110px;    
    display: flex;    
    justify-content: space-between;   
    background: #ee4c77;
    padding: 20px 10px;
  }

  .logo-ioasys {    
    justify-content: center;
    align-items: center;
   
  }

  .input-header{
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    outline: none;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    font-family: Roboto, sans-serif;
    background: #ee4c77;
    border-bottom: 1px solid #fff;  
    text-align: start;
    color: #fff;
    

  }

  .search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
    cursor: pointer;
  }

  .text-initial{
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeecdb;
    font-size: 1.6rem;
    font-family: Roboto, sans-serif;
    color: #383743;
    text-align: center;
   
  }

  .btn-logout{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 10px;
   
    
    background: #eeecdb;
  }

  .logoShow {
    overflow:hidden;
    max-width: 100%;
    transition: max-width 1s ease-in-out;
  }
  
  .none {
    max-width: 0;
    pointer-events: none;
  }

  .spinner {
    position: absolute;
    bottom: 50%;
    right: 50%;
  }
  
  .spinner span{
    border-width: 8px;

  }

  .wrap-spinner:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    width: 100vw;
    height: 100vh;
  }